<div class="container">
    <div class="col-12" style="text-align: center; font-size:2rem; padding: 0.5em">
        <h1>{{message}}</h1>
        <a href="/"><button type="button" class="btn btn-danger" style="margin:1.5em;">Volver a home</button></a>
    </div>

</div>